* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    color: #eeeeee
}

.header {
    position:relative;
    top:0;
    left:0;
    width:100%;
    padding:25px 10%;
    background:rgba(154, 174, 255, 0.75);
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom:5px solid black;
}

.logo {
    position:relative;
    font-size: clamp(.8rem, 2vw, 2rem);
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    cursor:default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: clamp(.5rem, 2vw, 1.5rem);
    color: #000000;
    text-decoration: none;
    font-weight: 800;
    margin-left: 15px;
    opacity:0;
    animation: slideTop 1s ease forwards;
}

.navbar a:nth-child(1) {
    animation-delay: 0.1s;
}

.navbar a:nth-child(2) {
    animation-delay: .2s;
}

.navbar a:nth-child(3) {
    animation-delay: .3s;
}

.navbar a:nth-child(4) {
    animation-delay: .4s;
}

.navbar a:nth-child(5) {
    animation-delay: .5s;
}

.navbar a:nth-child(6) {
    animation-delay: .6s;
}

.navbar a:hover {
    color: rgb(255, 255, 255);
}

.home {
    position:relative;
    width:100%;
    justify-content: space-between;
    height: 100vh;
    background: linear-gradient(#c9cff7d1,#5252f6, #c9cff7d1);
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 20px 10% 0;
    flex-wrap:wrap;
}

.profile-container {
    width: clamp(200px, 30vw, 600px);
    height: clamp(200px, 30vw, 600px);
    padding: 10px;
    border-radius: 50%;
    background: conic-gradient(from 0deg, #8337fd, #d396ff, #00ffff, #8337fd);
    animation: pulseGlow 4.5s ease-in-out infinite;
    flex-shrink: 1; 
    border: 4px solid white;
    box-shadow: 0 0 25px 10px rgba(131, 55, 253, 0.6);
    margin-left:10px;
}

.profile-pic {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    
}

.home-content {
    max-width: 800px;
    min-width: 0; 
    flex: 1;
}

.home-content h3 {
    color: rgb(255, 254, 254);
    font-size: clamp(.5rem, 2vw, 2.5rem);
    font-weight: 700;
    animation: slideBottom 1s ease forwards;
    animation-delay:0.7s;
    opacity:0;
}

.wave {
    display:inline-flex;
    margin-left:8px;
    font-size: clamp(1rem, 2vw, 2.5rem);
}




.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    margin-top:15px;
    animation: slideTop 1s ease forwards;
    animation-delay:0.7s;
    opacity:0;
}

.home-content h1 {
    font-size: clamp(2rem, 5vw, 3.5rem);
    font-weight: 700;
    margin: -3px 0;
    animation: slideRight 1s ease forwards;
    opacity:0;
    animation-delay: 0.7s;
}

.home-content p {
    font-size: clamp(.5rem, 3vw, 1.5rem);
    font-weight:600;
    margin-top:10px;
    animation:slideLeft 1s ease forwards;
    opacity: 0;
    animation-delay: 0.7s;
}

.home-sci {
    font-size: clamp(1rem, 5vw, 3.5rem);
    display: flex;
    gap: 25px;
    align-items: center;
    margin-top: 25px;
    
}

.home-sci a {
    display: inline-flex;
    border: 2px solid white;
    text-decoration: none;
    border-radius: 50%;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(1s + .2s * var(--i));
    opacity:0;
    transition: 0.5s ease;
}



.home-sci i {
    color: white;
    border-radius:50%;
    padding: 2px;
}

.home-sci i:hover {
    color:rgb(255, 254, 254);
    background: linear-gradient(#2c8ff9, #02167dd1);
}

.btn-box {
    display:inline-flex; /*For inline elements like <a> only margin left-right affect it, once we turn it into a box element with inline-flex, then we can move it */
    text-decoration: none;
    font-size: clamp(0.5rem, 1vw, 3.5rem);
    background: linear-gradient(#004ea2, #000089d1);
    position: relative;
    color:white;
    padding: 12px 20px;
    border-radius: 40px;
    font-weight: 600;
    margin-top:20px;
    letter-spacing: 1px;
    animation: slideTop 1s ease forwards;
    opacity: 0;
    animation-delay: calc(1s + .2s * var(--i));
    box-shadow: 
    0 0 10px#69b2ffcf, 
    0 0 20px#0062cb65, 
    0 0 40px#016bdd69, 
    0 0 80px#003c7d68;
}

.btn-box:hover {
    background: linear-gradient(#001d3b, #01015ed1);
}

.btn-box i {
    display: flex;
    margin-right: 5px;
    justify-content: space-between;
    align-items: center;
}

.typed-cursor {
    color:rgb(255, 255, 255);
    margin-left: 8px;
}

.text{
    background-color: #00000079;
    padding:6px
}

.about {
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    background: linear-gradient(#c9cff7d1,#5252f6, #c9cff7d1);
    display: flex;
    padding: 30px 5% 0;
    box-sizing: border-box;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1700px;
    width: 100%;
    box-sizing: border-box;
}

.me2 {
    flex: 1 1 600px;
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.me2 h1 {
    text-align: center;
    font-size: clamp(2rem, 5vw, 3.5rem);
    font-weight: 800;
    color: rgba(252, 252, 252, 0.937);
    margin-left: 10px;
    margin-top: 20px;
    animation:slideRight 1s ease forwards;
    opacity: 0;
    animation-delay: 0.7s;
}

.me2 h3 {
    text-align: center;
    padding-top: 40px;
    font-size: clamp(2rem, 4vw, 3.5rem);
    font-weight: 800;
    color: rgba(250, 248, 248, 0.937);
    margin-left: 10px;
    margin-top: 20px;
    animation:slideRight 1s ease forwards;
    opacity: 0;
    animation-delay: 0.7s;
}


.smileEmoji {
    margin-left: 10px;
}

.bg, .bg1 {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom:15px;
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.644);
    animation:slideLeft 1s ease forwards;
    opacity: 0;
    animation-delay: 0.7s;
}

.bg2 {
    background-color: white;
}

.bg p {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.6;
    color: white;
    background: linear-gradient(135deg, #8337fd, #375fffd1);
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

.hobby-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.header-titles {
    display: flex;
    text-align: center;
    margin-top:10px;
    justify-content: space-between;
    padding:0 30px;
    color: black;
    text-align: center;
}

.header-titles h2 {
    font-size: clamp(1rem, 3vw, 1.5rem);
}

.panel {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
}

.panel1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:20px;
    background: rgba(0, 0, 0, 0.798);
    padding:10px;
    border-radius: 10px;
    font-weight: 800;
    border: 5px solid black;
    font-size: 20px;
}

.panel1 p {
    font-size: 1.2rem;
}

.c-info {
    color:rgb(93, 185, 255);
    margin-left: 10px;
}

.panel p {
    background: linear-gradient(135deg, #8337fd, #375fffd1);
    color: white;
    border-radius: 20px;
    padding: 15px;
    line-height: 22px;
    font-size: 1rem;
    font-weight: 600;
    border: 5px solid black;
    max-width: 100%;
    box-sizing: border-box;
}

.profile-container1 {
    max-width: 400px;
    min-width: 450px;
    height:auto;
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    margin-top:100px;
    margin-bottom:100px;
    background: conic-gradient(from 0deg, #8d8bfc, #d396ff9f, #6a00ff,#8d8bfc);
    animation: pulseGlow1 5.5s ease-in-out infinite;
    animation: slideTop 1s ease forwards;
    animation-delay:0.7s;
    opacity:0;
}

.profile-pic1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    
}

.tech-span {
    font-size: 68px;
    margin-left:20px;
}


.services {
    position:relative;
    width:100%;
    background-size: cover;
    padding: 50px 10% 0;
    min-height: 100vh;
}


section {
    background: linear-gradient(#000106d1,#000000c1,#000106d1);
    min-height: 100vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



#services {
    color:rgb(255, 255, 255);
    font-size:20px;
    line-height: 1.4;
}

.sub-title {
    text-align: center;
    font-size: clamp(2.5rem, 5vw, 5rem);
    margin-bottom: 100px;
    margin-top:40px;
    text-shadow: 0 0 5px #0b0b0b, 0 0 10px #000000,
                0 0 15px #000000, 0 0 20px #000000,
                0 0 25px #000000, 0 0 30px #000000,
                0 0 35px #0000007c;
    
}

.sub-title span {
    color:#986afd;
    
}

.sub-title1 {
    text-align: center;
    font-size: clamp(2.5rem, 5vw, 5rem);
    margin-top: 90px;
    padding-bottom: 20px;
    text-shadow: 0 0 5px #0b0b0b, 0 0 10px #000000,
                0 0 15px #000000, 0 0 20px #000000,
                0 0 25px #000000, 0 0 30px #000000,
                0 0 35px #0000007c;
}

.title-wrapper {
    margin-top:90px;
    margin-bottom:60px;
    width: 100%;

}

.sub-title1 span {
    color:#99abff
}

.container {
    padding:40px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap:40px;
    background-color: rgba(255, 255, 255, 0.904);
    padding:30px;
    margin-bottom:180px;
    border-radius: 20px;
    animation: slideBottom 0.7s ease forwards;
    opacity:0;

}

.services-list div {
    background: linear-gradient(135deg, #8337fd, #375fffd1);
    padding:40px;
    font-size:13px;
    font-weight:13px;
    border-right:10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    color: rgb(248, 247, 247);
    border: 3px solid black;
    animation: slideTop 1s ease forwards;   
    opacity:0;
}


.services-list div:nth-child(1) {
    animation-delay:0.4s;
}

.services-list div:nth-child(2) {
    animation-delay:0.7s;
}

.services-list div:nth-child(3)  {
    animation-delay:1s;
}

.services-list div:hover {
    transform: translateY(-10px);
}

.services-list i {
    font-size:50px;
    margin-bottom:30px;
}

.services-list div h2 {
    font-size:30px;
    font-weight: 700;
    margin-bottom:15px;
}


.services-list div a {
    text-decoration: none;
    color:#000000;
    font-size:12px;
    margin-top: 20px;
    margin-left:10px;
    display:inline-block;
    border-radius: 40px;
}

.services-list p {
    font-weight:800;
    margin-top:20px;
}

.read {
    display:inline-block;
    padding:12px 28px;
    background:rgba(255, 255, 255, 0.876);
    font-size: 16px;
    color: #000000;
    letter-spacing: 1px;
    font-weight: 700;
    animation: slideTop 1s ease forwards;
    animation-delay:1.2s;
    opacity:0;
    box-shadow: 0 0 25px 10px rgba(255, 255, 255, 0.446);
}

.read:hover {
    background:black;
    color:rgb(255, 255, 255);
    box-shadow: 0 0 25px 10px rgb(255, 255, 255);
}

.container1 {
    width:700px;
    min-height:100vh;
    padding:60px 90px;
}

.heading1 {
    text-align: center;
    margin-left: 40px;
    text-decoration: underline;
    font-size: clamp(2rem, 5vw, 3rem);
    margin-bottom:50px;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    text-shadow: 0 0 5px #0b0b0b, 0 0 10px #000000,
                0 0 15px #000000, 0 0 20px #000000,
                0 0 25px #000000, 0 0 30px #000000,
                0 0 35px #0000007c;
}



.bar {
    font-size: 23px;
}

.bar .info {
    margin-bottom: 20px;
}

.bar i {
    font-size: 32px;
}

.technical-bars {
    display: flex;
    flex-direction: column;
    gap:50px;
}

.technical-bars .info span {
    font-weight: 700;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
    color:white
}


.progress-line {
    position:relative;
    border-radius: 10px;
    width:100%;
    height:20px;
    background-color: rgb(255, 255, 255);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform:scaleX(0);
    transform-origin:left;
    border: 1px solid black;
}



.progress-line span {
    position:absolute;
    border-radius: 10px;
    height:100%;
    background:linear-gradient(135deg, #8337fd, #375fffd1);
    animation:animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform:scaleX(0);
    transform-origin:left;

}



.progress-line.java span {
    width:90%;
}

.progress-line.python span {
    width:60%;
}

.progress-line.html span {
    width:75%;
}

.progress-line.css span {
    width:90%;
}


.progress-line.javascript span {
    width:50%;
}

.progress-line span::after {
    position:absolute;
    padding:1px 8px;
    border-radius: 3px;
    background-color: black;
    font-size: 22px;
    top:-38px;
    right:-20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
    color: white;
}

.progress-line.java span::after {
    content:"90%";
}

.progress-line.python span::after {
    content:"60%";
}

.progress-line.html span::after {
    content:"75%";
}

.progress-line.css span::after {
    content:"90%";
}

.progress-line.javascript span::after {
    content:"50%";
}

.progress-line span::before{
    content:"";
    position:absolute;
    width:0;
    height:0;
    border:7px solid transparent;
    border-bottom-width: 0px;
    border-right-width:0px;
    border-top-color: black;
    top:-10px;
    right:0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}


@keyframes showText{
    100%{
        opacity: 1;
    }
}


.text1 {
    background-color:transparent;
}

.radial-bars {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width:100%;
    font-size: 15px;
    font-weight: 600;
    height:170px;
    margin-bottom: 10px;
    position: relative;
    
}


.radial-bars .radial-bar {
    width: 50%;
    height:170px;
    margin-bottom: 60px;
    position:relative;

}

.radial-bars .radial-bar svg {
    margin-top: 20px;
    position:absolute;
    top:70%;
    left:50%;
    transform: translate(-50%,-50%) rotate(-90deg);
    width:160px;
    height:160px;
    
}


.radial-bars .radial-bar .progress-bar {
    stroke-width:15;
    stop-color: rgb(0, 0, 0);
    fill: none;
    stroke:rgb(250, 248, 248);
    stroke-linecap: round;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    animation: animate-bar 1s linear forwards;
    
    
}


@keyframes animate-bar {
    100%{
        stroke-dashoffset: -1;
    }
}

.path {
    stroke-width: 15;
    stroke:rgb(126, 62, 235);
    fill:transparent;
    stroke-dasharray:502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    box-shadow: 0 0 50px 3px rgb(115, 39, 181);
}


.path-1 {animation: animate-path1 1s 1s linear forwards}
.path-2 {animation: animate-path2 1s 1s linear forwards}
.path-3 {animation: animate-path3 1s 1s linear forwards}
.path-4 {animation: animate-path4 1s 1s linear forwards}


@keyframes animate-path1 {
    100%{
        stroke-dashoffset: 50;
    }
}

@keyframes animate-path2 {
    100%{
        stroke-dashoffset: 175;
    }
}

@keyframes animate-path3 {
    100%{
        stroke-dashoffset: 125;
    }
}

@keyframes animate-path4 {
    100%{
        stroke-dashoffset: 75;
    }
}

.radial-bar .percentage {
    position: absolute;
    top:80%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size:22px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}


.radial-bar .text1 {
    width:100%;
    text-align: center;
    position:absolute;
    top:25px;
    font-size:20px;
    left:-8px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}


.main-text {
    margin-top:100px;
    min-height: 100vh;
    
}

.main-text h2 {
    position:relative;
    font-size: clamp(2.5rem, 5vw, 5rem);
    text-align: center;
    font-weight: 800;
    line-height: 1;
    margin-bottom:100px;
    margin-top:250px;
    padding-top:120px;
    text-shadow: 0 0 5px #0b0b0b, 0 0 10px #000000,
                0 0 15px #000000, 0 0 20px #000000,
                0 0 25px #000000, 0 0 30px #000000,
                0 0 35px #0000007c;
}

.main-text h2 span {
    color:rgb(145, 65, 188);
    text-shadow: 0 0 5px #000000, 0 0 10px #000000,
                0 0 15px #000000, 0 0 20px #000000,
                0 0 25px #00000095, 0 0 30px #00000079,
}

.portfolio-content {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(359px, auto));
    gap:50px;
    margin-top:40px;
    padding:70px;
}

.row {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor:pointer;
}


.full-widthimg {
    width:100%;
    aspect-ratio: 3/2;
    border-radius: 8px;
    display:block;
    transition: transform 0.5s;
    object-fit: cover;
    animation: slideTop 1s ease forwards;
    opacity:0;
}

.portfolio-content .row:nth-child(1) .full-widthimg {
    animation-delay: 0.3s;
}

.portfolio-content .row:nth-child(2) .full-widthimg {
    animation-delay: 0.6s;
}

.portfolio-content .row:nth-child(3) .full-widthimg{
    animation-delay: 0.9s;
}

.layer {
    width:100%;
    height:0;
    position: absolute;
    display: flex;
    flex-direction: column;
    background:linear-gradient(#8337fd, #375fffd1,rgba(255, 255, 255, 0.699));
    border-radius: 8px;
    top:0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    transition: height 0.5s;
}

.layer h5 {
    font-size: clamp(1rem, 4vw, 2rem);
    margin-bottom:15px;
    font-weight: 700;
    margin-top:100px
}

.layer p {
    font-weight: 500;
    line-height: 1.8;
    padding:5px;
    text-align: center;
    font-size: clamp(.5rem, 2vw, .8rem);
}

.layer i {
    color:rgb(151, 255, 191);
    margin-top:10px;
    margin-bottom:80px;
    font-size: clamp(1rem, 2vw, 1.5rem);
    background: #000000;
    width:50px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.layer a {
    text-decoration: none;
}

.row:hover img{
    transform: scale(1.1);
}


.row:hover .layer {
    height:100%;

}


.tech-span1{
    position: absolute;
    font-size: clamp(3rem, 5vw, 5rem);
    margin-left:18px;
    background:transparent;
}

.tech-span2{
    position: absolute;
    font-size: clamp(3rem, 5vw, 5rem);
    margin-left:22px;
    background:transparent;
}


.contact {
    display: flex;
    justify-content: space-between;
    padding:50px;
    text-align: center;
}

.contact-text {
    display: flex;
    flex-direction: column;
    gap:20px;
    background: rgba(0, 0, 0, 0.569);
    width:600px;
    height:620px;
    border-radius: 20px;
    padding:40px;
    margin-top:190px
}

.contact-text h4 {
    font-size: 20px;
    color:#0095ff
}

.contact-text p{
    margin-top:30px;
    font-size: 28px;
    font-weight: 600;
    border-bottom: 2px solid white;
    text-align: center;
    padding-bottom:10px;

}

.contact-text i.human{
    font-size:70px;
    margin-top:40px;
}

.contact-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    font-size: 40px;
    
}

.contact-icons i {
    border:2px solid white;
    border-radius: 50px;
    padding:7px;
    color: white;
    transition: transform 0.5s;
}

.contact-icons i:hover {
    transform:translateY(-10px);
    background:linear-gradient(rgb(154, 154, 249),rgb(101, 101, 250))
}
.contact-text h2{
    font-size: 40px;
    color:white;
    margin-bottom:10px;
}


.contact-header {
    display: block;
    text-align: center;
    width:100%;
    font-size: clamp(2.5rem, 5vw, 5rem);
    margin-right:60px;
    margin-top:200px;
    text-shadow: 0 0 5px #080808, 0 0 10px #000000,
                0 0 15px #000000, 0 0 20px #000000,
                0 0 25px #000000, 0 0 30px #000000,
                0 0 35px #0000007c;
}

.contact-header span {
    color:rgb(149, 149, 253);
}

.contact-list {
    font-size: 22px;
    letter-spacing: 0.5px;
    line-height: 3;
    text-align: center;
    
}

.emphasize {
    transition: transform 0.5s;
    display: inline-block;
    margin-left:8px;
}

.emphasize:hover {
    transform: scale(1.2);
    transform: translateY(-10px);
    cursor: pointer;
}


.contact-form {
    margin-top:190px;
    margin-bottom:200px;
    display: flex;
    flex-direction: column;
    background:linear-gradient(#873efb6e, #7590fabc,#8337fd81);
    
    padding:60px;
    width:700px;
    border-radius: 20px;
}

.form-box {
    display: inline-block;
    width:100%;
    padding:20px;
    border-radius: 20px;
    height:70px;
    font-size: 20px;
    border:2px solid black;
    font-weight: 700;
}

.contact-title {
    text-align: center;
    font-size: clamp(2rem, 5vw, 3.5rem);
    color:rgb(251, 251, 251);
    margin-bottom:15px;
    padding-bottom:25px;
}

.contact-form label {
    display: block;
    margin-top: 30px;
    margin-bottom:2px;
    font-size: 20px;
    margin-left:12px;
    font-weight:500;
    color:white;
    width: 10%;
}




.form-box1 {
    display: block;
    padding-bottom:220px;
    padding-left:20px;
    width:100%;
    border-radius: 20px;
    height:300px;
    font-size: 22px;
    border:2px solid black;
    font-weight: 700;
}

.submit {
    display: block;
    width:100%;
    margin-top:60px;
    padding:10px 30px;
    border-radius: 20px;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight:600;
    cursor: pointer;
    background:linear-gradient(rgb(241, 247, 240),rgb(230, 248, 236));
    color:rgb(0, 0, 0);
    border: none;
    box-shadow: 
    0 0 10px#cbdef3cf, 
    0 0 20px#dae4eefb, 
    0 0 40px#dce6f169, 
    0 0 80px#dbe7f468;
    transition: transform 0.5s;
    
}

.submit:hover {
    transform: translateY(-15px);
    background:rgb(78, 78, 248);
    color:white;
    box-shadow: 
    0 0 10px#cfe3f9, 
    0 0 20px#c9def4fb, 
    0 0 40px#e4edf769, 
    0 0 80px#d9e6f368;
}


@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}


@keyframes pulseGlow {
    0%, 100% {
        box-shadow: 
        0 0 50px 20px #f9b4f9,  
        0 0 20px 5px #00ffff,   
        0 0 30px 7px #ffff0091;   
    }
    33% {
        box-shadow: 
        0 0 20px 5px #ff87ff,   
        0 0 50px 20px #00ffff,  
        0 0 30px 7px #ffff0062;   
    }
    66% {
        box-shadow: 
        0 0 20px 5px #ff8eff,   
        0 0 20px 5px #00ffff,  
        0 0 50px 20px #ffff0097;  
    }
}

@keyframes pulseGlow1 {
    0%, 100% {
        box-shadow: 
        0 0 50px 20px #9a6ef8,  
        0 0 20px 5px #825afb,   
        0 0 30px 7px #8ebef0;   
    }
    33% {
        box-shadow: 
        0 0 20px 5px #9852f4,   
        0 0 50px 20px  #abd0f9,  
        0 0 30px 7px #d49df9;   
    }
    66% {
        box-shadow: 
        0 0 20px 5px #4da0f8,   
        0 0 20px 5px  #375fffd1,
        0 0 50px 20px #8337fd;  
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity:0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}



